/* Medium Device */

@media screen and (max-width: 768px) {
	
	/* Nav */

	nav ul {
		width: 70%;
	}

	/* Header */

	header h1 {
		font-size: 36px;
	}

	/* Pendahuluan */

	.ilustrasi {
		padding: 0;
		margin-right: 10px;
	}

	.ilustrasi-1, .ilustrasi-2 {
		justify-content: center;
	}

	.ilustrasi img {
		max-width: 100%;
	}

	/* Metode */

	.metode-item {
		width: 46%;
	}

	/* Hasil */

	.hasil-item {
		width: 100%;
	}
}

/* Small Device */

@media screen and (max-width: 576px) {

	.pendahuluan-1, .pendahuluan-2, .metode {
		padding: 0 23px;
	}
	
	/* Nav */

	nav ul {
		position: absolute;
		right: 0;
		top: 0;
		height: 35vh;
		justify-content: space-evenly;
		align-items: center;
		padding-top: 50px;
		width: 100%;
		font-size: 0.9em;
		flex-direction: column;
		background-color: #D57500;
		z-index: -20;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
		transform: translateY(-100%);
		transition: all 0.5s;
		opacity: 0;
	}

	.menu-toggle {
		display: flex;
	}

	nav ul.slide {
		transform: translateX(0);
		opacity: 0.8;
	}

	/* Header */

	header {
		padding: 0 15px;
	}

	header {
		text-align: center;
	}

	header h1 {
		font-size: 36px;
	}

	/* Pendahuluan */

	.pendahuluan-1 h2, .pendahuluan p {
		width: 100%;
	}

	.pendahuluan-2 {
		flex-direction: column-reverse;
	}

	.ilustrasi {
		display: flex;
		align-items: flex-end;
		width: 100%;
		margin-top: 10px;
	}

	.ilustrasi img {
		max-width: 100%;
	}

	figcaption {
		font-size: 18px;
	}

	.ilustrasi-2 {
		margin-top: 0px;
		padding-left: 10px;
	}

	/* Metode */

	.metode {
		padding-top: 76px;
	}

	.metode h2 {
		text-align: center;
	}

	.metode-item {
		width: 80%;
	}

	/* Hasil */

	.hasil {
		padding-top: 76px;
	}

	.hasil h2 {
		text-align: center;
	}

	.hasil-item {
		flex-direction: column;
		align-items: center;
	}

	table {
		font-size: 18px;
		margin-top: 22px;
	}


}