@import url('https://fonts.googleapis.com/css2?family=Yrsa&display=swap');

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #D4BB57;
}
 
::-webkit-scrollbar-thumb {
  background: #D57500; 
  border-radius: 2px;
}

/* Halaman Web */

* {
	box-sizing: border-box;
	margin:  0;
}

body {
	font-family: 'Yrsa', serif;
}

/* Nav */

.nav-container {
	background: #D57500;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	height: 52px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 10;
}

.wrapper {
	max-width: 1368px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: flex-end;
	height: 52px;
}

nav ul {
	display: flex;
}

.nav-items li{
	list-style: none;
	margin: 12px 17px;
}

.nav-items li a {
	text-decoration: none;
	color: white;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
}

/* Header */

.header-container {
	background-image: url('assets/img/bg-img-color.png');
	background-size: cover;
	height: 768px;
	padding-top: 268px;
	padding-left: 111px;
}

.header-container h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	line-height: 63px;
}

.header-container p {
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
}

/* Pendahuluan */

.pendahuluan-container {
	background: #D4BB57;
	height: 1375px;
	padding-top: 105px;
}

.pendahuluan-1 {
	display: flex;
}

.pendahuluan-1 h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	justify-content: flex-end;
}

.pendahuluan-1 p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: right;
	padding-left: 45px;
}

.pendahuluan-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 109px;
}

.pendahuluan-2-image {
	width: 50%;
	padding-left: 85px;
}

figure {
	display: inline-block;
}

figure figcaption {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

.pendahuluan-2-image-2 {
	display: flex;
	justify-content: flex-end;
	padding-right: 201px;
}

.pendahuluan-2-content {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	width: 50%;
	padding-right: 95px;
}

/* Metode */
.metode-container {
	background: #D4BB57;
	height: 768px;
	padding-top: 80px;
}

.metode-container h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	padding-left: 118px;
	padding-bottom: 23px;
}

.metode-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.metode-item {
	width: 20%;
	background: #FFFFFF;
	width: 221px;
	height: 383px;
	margin-right: 23px;
	margin-bottom: 23px;
	filter: drop-shadow(0px 4px 10px #000000);
	border-radius: 35px;
}

.metode-item:nth-last-of-type(1) {
	margin-right: 0;
}

.metode-item img{
	width: 176px;
	filter: drop-shadow(0px 4px 5px #000000);
	border-radius: 35px;
	margin: 24px 22px 16px;
}

.metode-content h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 100%;
	text-align: center;
}

.metode-content p {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	margin: 22px;
}

.metode-content a {
	text-decoration: underline;
	font-weight: bold;
	color: #4E6172;
}

/* Hasil */

.hasil-container {
	background: #D4BB57;
	height: 970px;
	padding-top: 80px;
}

.hasil-container h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	display: flex;
	justify-content: flex-end;
	padding-right: 84px;
	padding-bottom: 20px;
}

.hasil-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hasil-item {
	display: flex;
	width: 576px;
	height: 358px;
	background: #FFFFFF;
	box-shadow: 0px 4px 25px #000000;
	border-radius: 35px;
	margin-right: 23px;
	margin-bottom: 23px;
}

.hasil-item img {
	width: 165px;
	height: 165px;
	margin-left: 37px;
	margin-top: 37px;
	margin-right: 27px;
}

table {
	padding-top: 30px;
	padding-bottom: 34px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	font-size: 24px;
	line-height: 2px;
}

sup {
	display: none;
}

.judul-kolom {
	font-weight: normal;
}