html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Yrsa', serif;
	overflow-x: hidden;
}

/* Nav Start */

/* Nav Logo and Nav Item */

nav {
	display: flex;
	background-color: #D57500;
	justify-content: space-around;
	height: 52px;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

nav .logo {
	font-family: 'Changa', sans-serif;
	letter-spacing: 2px;
	font-size: 2em;
}

nav ul {
	display: flex;
	list-style: none;
	width: 50%;
	justify-content: space-between;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}

/* Hamburger Menu */

.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input {
	position: absolute;
	width: 40px;
	height: 28px;
	left: -6px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transition: all 0.5s;
}

/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
	transform: scale(0);
}

/* Nav End */

/* Header Start */

header {
	background: #D4BB57 url(img/bg-img.png);
	background-repeat: no-repeat;
	height: 768px;
	padding-left: 76px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
}

header p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

/* Header End */

/* Pendahuluan Start */

.pendahuluan-1 {
	background: #D4BB57 url(img/pumice.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 50%;
	height: 738px;
	padding: 76px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pendahuluan-1 h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	width: 50%;
}

.pendahuluan-1 p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	width: 50%;
}

.pendahuluan-2 {
	background-color: #D4BB57;
	height: 634px;
	display: flex;
	align-items: center;
	padding: 76px;
}

.ilustrasi {
	width: 50%;
	padding-right: 75px;
}

.ilustrasi-1 {
	display: flex;
	justify-content: start;
}

.ilustrasi-2 {
	display: flex;
	justify-content: end;
	padding-top: 10px;
}

figure {
	text-align: center;
}

figcaption {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

.pendahuluan-2 p {
	width: 50%;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

/* Pendahuluan End */

/* Metode Start */

.metode	{
	background-color: #D4BB57;
	padding: 76px;
}

.metode h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
}

.metode-items {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

.metode-item {
	background-color: white;
	width: 19%;
	box-shadow: 0px 4px 13px #000000;
	border-radius: 25px;
	overflow: hidden;
	margin: 10px auto;
}

.metode-item img {
	width: 100%;
}

.metode-content h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	text-align: center;
}

.metode-content p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	padding: 0px 22px 22px;
}

.metode-content a {
	font-weight: bold;
	color: #D57500;
}

/* Metode End */

/* Hasil Start */

.hasil {
	background-color: #D4BB57;
	padding: 76px;
}

.hasil h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	text-align: right;
}

.hasil-items {
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.hasil-item {
	background-color: white;
	width: 49%;
	border-radius: 25px;
	box-shadow: 0px 4px 13px #000000;
	display: flex;
	padding: 22px;
	margin-top: 22px;
}

.hasil-item img {
	max-height: 165px;
	max-width: 165px;
}

table {
	font-style: normal;
	font-weight: normal;
	text-align: left;
	font-size: 24px;
	padding-left: 22px;
}

.judul-kolom {
	font-weight: normal;
}

/* Hasil End */

/* Profil Start */

.profil {
	background-color: #D57500;
	padding: 76px;
}

.profil-items {
	display: flex;
	flex-direction: row-reverse;
	/*background-color: orange;*/
	justify-content: space-evenly;
}

.profil-foto {
	/*background-color: gray;*/
}

.profil-foto img {
	width: 90%;
}

.profil-info {
	/*background-color: white;*/
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-right: 23px;
}

.profil-sosmed {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: right;
	/*background-color: pink;*/
}

.profil h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	text-align: center;
}

.profil h3 {
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	text-align: right;
}

.profil p {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-align: right;
}

.profil-sosmed a {
	display: block;
	width: 15%;
}

.profil-sosmed img {
	width: 100%;
}

/* Profil End */